*.tsv
env
**/__pycache__/
**/*.pyc
*.py[cod]
*$py.class
.coverage
cover/
htmlcov
/.eggs
*.egg
/build
/dist
*/segmentation/__pycache__/
*.log
/results.tsv
/.cache*
/distribute*
/.idea
/tmp*
.nfs*
.idea
.pytest_cache*
pyCRISPRcleanR.egg-info
