env/
**/__pycache__/
**/*.pyc
*.py[cod]
*$py.class
.coverage
cover/
htmlcov
/.eggs
*.egg
/build
/dist
*/segmentation/__pycache__/
cgpCRISPRcleanR.egg-info*
*.log
/results.tsv
/.cache*
/distribute*
/.idea
/tmp*
.nfs*
.idea
