pip==10.0.1
tzlocal==1.5.1
numpy==1.14.3
pandas==0.22.0
rpy2==2.9.3
plotly==3.1.0
scipy==1.1.0
pytest==3.5.1
radon==2.2.0
pytest-cov==2.5.1
https://sourceforge.net/projects/mageck/files/0.5/mageck-0.5.7.tar.gz
